%main.mypage-main
  .mypage-content
    .info
      .user-info
        = link_to "/", class: 'user-link' do
          = image_tag 'member_photo.png', alt: 'user_photo', class: 'user-image'
          %h2.user-name ユーザーネーム
          .inner-bar
            .evaluation-listings
              %span.evaluation-text 評価
              %i.evaluation-count 0
              %span.numberof-listings 出品数
              %i.numberof-listings-count 0
      .notice-todo
        .notice.active
          お知らせ
        .todo.inactive
          やることリスト
      .notice-box
        = link_to "/", class: 'notice-list' do
          .notice-list__icon
            = image_tag 'mercari_icon.png', alt: 'mercari', height: '48px', width: '48px'
          %li.notice-list__list
            事務局から個別メッセージ「ログイン通知」
          %i.far.fa-clock.notice-list__clock
          %span.notice-list__timing 6日前
          %i.fas.fa-chevron-right.notice-list__right-arrow
        = link_to "/", class: 'notice-list' do
          .notice-list__icon
            = image_tag 'mercari_icon.png', alt: 'mercari', height: '48px', width: '48px'
          %li.notice-list__list
            事務局から個別メッセージ「ログイン通知」
          %i.far.fa-clock.notice-list__clock
          %span.notice-list__timing 6日前
          %i.fas.fa-chevron-right.notice-list__right-arrow
      .todo-box
    .bought-product 購入した商品
    .bought-info
      .during-trading.active
        取引中
      .past-trading.inactive
        過去の取引
    .bought-detail
      .no-item-icon
      .no-item-text 取引中の商品がありません
  = render 'mypage_sidebar'
= render 'banner'
